@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');


@font-face {
    font-family: 'idroid';
    src: url(fontes/idroid.otf);



}

:root {
    --cor0: #FFFACD;
    --cor1: #E6E1B8;
    --cor2: #BFBB99;
    --cor3: #BFBB99;
    --cor4: #807D66;
    --cor5: #403E33;

    --fonte_padrao: Arial, Verdana, Helvetica, Sans-serif;
    --fonte_detaque: 'Bebas Neue';
    --fonte_android: 'idroid';
}

* {
    margin: 0px;
}

body {
    background-color: #fffacd;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

a.externo {
    content: \1F517;
}

main p {
    margin: 15px 0px;
    text-align: justify;
}

header {
    background-color: var(--cor5);
    min-height: 80px;
    padding: 1px;
    background-image: linear-gradient(to top, var(--cor5), var(--cor4));
    box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.445);
}

header > h1 {
    font-size: 2em;
    font-family: 'Bebas Neue';
    color: white;
    text-align: center;
    margin: 15px auto 15px auto;
    font-weight: normal;
}

header > p {
    font-size: 1em;
    font-family: 'bebas neue';
    color: white;
    margin: auto;
    text-align: center;
    padding-bottom: 18px;
    max-width: 500px;
}
 

nav {
    padding: 10px;
    background-color: var(--cor5);
    box-shadow: 0px 10px 11px rgba(0, 0, 0, 0.363);
    padding-bottom: 15px;
}

nav > a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 10px;
}

.botao:hover {
    color: black;
    background-color: var(--cor1);
    border-radius: 5px;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: (var(--cor0));
    
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: white;
    padding: 25px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.445);
    border-radius: 10px;
    font-family: 'Roboto mono';
    font-weight: bold;
    line-height: 1.5em;
}

main > h1 {
    font-family: var(--fonte_android);
    color: rgba(0, 0, 0, 0.644);
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte_android);
    color: var(--cor4);
    font-weight: normal;
}

main a {
    color: rgb(0, 4, 32);
    padding: 2px 3px;
    background-color: rgb(241, 220, 192);
}

main img {
    width: 100%;
    display: block;
    margin: auto;
}

main .img_pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

.video {
    background-color: var(--cor3);
    margin-bottom: 30px;
    margin: 0px -25px;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}

.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor3);
    border-radius: 10px;
    padding: 10px;
    border: 3px solid var(--cor5);
}

aside h3 {
    font-weight: bold;
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

aside ul {
    columns: 2;
}

footer {
    color: white;
    background-color: var(--cor5);
    padding: 15px 0px;
}

footer  p, a {
    text-align: center;
    text-decoration: none;
    color: white;
}

footer:hover {
    background-color: black;
}

#insta {
    max-width: 50px;
    display: inline;
    margin: auto;
}